<h3>Liebe Besucher,</h3>
<p>
in Ottersweier findet jeweils im Frühjahr und Herbst ein Kinder-Secondhand-Basar auf Kommissionsbasis statt.
Neben saisonaler Kinderkleidung, Schuhen, Kinderwägen und Zubehör werden hier auch Spielsachen und Kinderbücher angeboten.
Der Erlös aus diesen Veranstaltungen kommt vollständig Kindern und Familien zugute.
In den letzten Jahren konnten wir so bereits zahlreiche Projekte in den örtlichen Kindergärten unterstützen und zusätzliche Spielgeräte anschaffen.
<br />
<br />

Unser diesjähriger Frühjahrsmarkt am {{response.write(date)}} war wieder sehr erfolgreich!
Wir möchten uns ganz herzlich bedanken bei allen Verkäufern und Käufern. Unser besonderer Dank gilt jedoch den <strong> vielen engagierten Helfern</strong>, ohne die unser Markt so nicht möglich wäre!
Wir freuen uns schon jetzt auf das nächste Mal im Herbst. 
</p>
<br />
<center>
<p>
Das Secondhand-Team Ottersweier.
</p>
</center>