<h3>Liebe Besucher,</h3>
<p>
in Ottersweier findet jeweils im Frühjahr und Herbst ein Kinder-Secondhand-Basar auf Kommissionsbasis statt. Neben saisonaler Kinderkleidung und Schuhen werden hier auch Spielsachen und Kinderbücher angeboten.
Der Erlös aus diesen Veranstaltungen kommt vollständig Kindern und Familien zugute.
In den letzten Jahren konnten wir so bereits zahlreiche Projekte in den örtlichen Kindergärten unterstützen und zusätzliche Spielgeräte anschaffen.
<br />
<br />
Der nächste Kleidermarkt wird
</p>
<center id="next_event_date">
am Samstag, den 28. September 2013 von 9-12 Uhr
<br />
im Gemeindezentrum St. Johannes in Ottersweier
</center>
<p>
stattfinden.
<br />
<br />
Für das leibliche Wohl wird mit Kaffee und Kuchen, Waffeln, Brezeln und Getränken gesorgt sein.
<strong>Bitte nutzen Sie die Parkplätze am Sonnenplatz</strong> (vor dem Gemeindezentrum herrscht absolutes Halteverbot).
<br />
<br />
Einen schönen und erfolgreichen Markt für alle Beteiligten wünscht
</p>
<center>
<p>
Das Second Hand Team Ottersweier.
</p>
</center>