
<p>
Die Elternbeiräte der Kindergärten St. Marien und St. Michael Ottersweier veranstalten jeweils im Frühjahr und Herbst einen Kinder-Secondhand-Basar auf Kommissionsbasis (<a class="intext" href="{{=config.shoturl}}static/Richtlinien.pdf">Informationen</a> für Verkäufer).
Den Erlös aus diesen Veranstaltungen erhalten beide Kindergärten, er kommt somit ausschließlich den Kindern zugute.
In den letzten Jahren konnten wir so bereits zahlreiche Projekte in den Kindergärten unterstützen und zusätzliche Spielgeräte anschaffen.
Der nächste Termin ist:

</p>
<center>
<h3>
Herbstmarkt im Gemeindezentrum Ottersweier <br /> 13. Oktober 2012 von 9 bis 12 Uhr
</h3>
</center>

<p>
Wenn Sie auf unserem Markt verkaufen möchten, melden Sie sich zunächst unter {{= A('Registrierung als Verkäufer', _href=URL('registration', 'form'), _class = 'intext')}} an.
Bitte befolgen Sie dann einfach Schritt für Schritt die weiteren Anweisungen, um sich hier auf diesen Seiten Ihre Kommissionsnummer selbst zu reservieren.

Wie bei jedem Secondhand wollen viele ihre bisherige Kommissionsnummer wieder verwenden. Aus diesem Grund gibt es für Sie die Möglichkeit, eine Nummer aus den noch freien Nummern zu wählen.


Ein persönlicher Kontakt ist natürlich immer noch möglich. Hierzu verwenden Sie bitte den Punkt {{= A('Kontakt', _href=URL('contact', 'form'), _class = 'intext')}}. 
<br />
</p>

<center>
<p>
{{= A('Registrierung als Verkäufer', _href=URL('registration', 'form'), _class = 'intext')}}
</p>
</center>
