<h3>Liebe Besucher,</h3>
<p>
in Ottersweier findet jeweils im Frühjahr und Herbst ein Kinder-Secondhand-Basar auf Kommissionsbasis statt. Neben saisonaler Kinderkleidung und Schuhen werden hier auch Spielsachen und Kinderbücher angeboten.
Der Erlös aus diesen Veranstaltungen kommt vollständig Kindern und Familien zugute.
In den letzten Jahren konnten wir so bereits zahlreiche Projekte in den örtlichen Kindergärten unterstützen und zusätzliche Spielgeräte anschaffen.
<br />
<br />
Der nächste Kleidermarkt wird am
</p>
<center id="next_event_date">
{{response.write(date + ', 9-12 Uhr')}}
<br />
</center>
<p>
im Gemeindezentrum St. Johannes in Ottersweier stattfinden.
<br />
<br />
Für Ihr leibliches Wohl wird mit Kaffee und Kuchen, Waffeln, Brezeln und Erfrischungsgetränken bestens gesorgt sein. Eine kleine Malecke für Kinder werden wir ebenfalls einrichten.
<br />
Bitte beachten Sie, daß vor dem Gemeindezentrum auch während des Marktes absolutes Halteverbot herrscht.
<strong>Bitte nutzen Sie die Parkplätze am Sonnenplatz</strong>.
<br />
<br />
Einen schönen und erfolgreichen Markt für alle Beteiligten wünscht
</p>
<center>
<p>
Das Secondhand-Team Ottersweier.
</p>
</center>