{{extend 'layout.html'}}
<h3>
Fördermittel beantragen
</h3>
<p>
Die erwirtschafteten Verkaufserlöse aus unseren Secondhand-Märkten sollen vollständig Kindern und Familien in Ottersweier zugute kommen.
Wir möchten zur Finanzierung von Veranstaltungen, Aktionen oder kostspieligen Anschaffungen beitragen.
<br />
Grundsätzlich kann jeder Verein, jede Institution oder sonstige Gemeinschaft finanzielle Unterstützung für ein geplantes gemeinnütziges Projekt erhalten,
bei dem Kinder oder Familien im Mittelpunkt stehen.

Wichtig ist uns, daß es eine konkrete Planung des Projektes einschließlich des finanziellen Rahmens gibt.
<br />
Fühlen Sie sich angesprochen? Dann füllen Sie einfach das folgende Formular aus! Über die Bewilligung der Mittel werden wir dann zeitnah entscheiden.
</p>
<center>
<p>
Das Secondhand-Team Ottersweier.
</p>
</center>
{{response.write(form)}}