<p>
<a id = shift_descr_tggl class = 'intext'>
Kurze Infos zu den Helferschichten <span id = plclick> (bitte hier klicken)</span>:
</a>
</p>

<div id = "shift_descr"> 
<p>
<span class = "shift_descr_head">
Sortieren:
</span>
Das angenommene Spielzeug wird kontrolliert und auf die Verkaufstische sortiert. Es ist immer wieder erstaunlich, wie geschätzte 200 Kisten innerhalb weniger Stunden verkaufsbereit ausliegen! 
</p>

<p>
<span class = "shift_descr_head">
Auflegen:
</span>
Während des Marktes benötigen wir  Ihre Hilfe als "Ordner". Viele Besucher schätzen es, wenn die Ware auf den Tischen geordnet bleibt und Ansprechpartner bereit stehen. Außerdem brauchen wir natürlich Verstärkung zum Verkauf von Kaffee, Kuchen, Waffeln und Getränken oder an den Kassen. 
</p>

<p>
<span class = "shift_descr_head">
Rücksortieren:
</span>
Nach dem Markt benötigen wir entsprechend viele Hände, die die zuvor ausgelegte Ware wieder zurück in die zahllosen Kisten verteilen, damit am Nachmittag das nicht verkaufte Spielzeug wieder abgeholt werden kann.    
</p>

<p>
<span class = "shift_descr_head">
Spenden:
</span>
Unser Kuchenverkauf ist nur durch Ihre Kuchen- bzw. Waffelspenden realisierbar. Bitte bringen Sie Kuchen (sehr gerne auch mit Sahne) zur Annahme mit. Bitte <b>beschriften</b> Sie die Kuchen mit Ihrem Namen und Ihrer Kommissionsnummer.
Falls Sie einen Waffelteig machen möchten, erhalten Sie unser bewährtes Rezept dazu mit Ihrer Anmeldebestätigung.
</p>

<p>
<span class = "shift_descr_head">
Vorteile für Helfer:
</span>
Als Helfer erhalten Sie sofort eine Kommissionsnummer.
Falls Sie schon einmal auf einem unserer Spielzeugmärkte verkauft haben, behalten Sie mit deutlich höherer Wahrscheinlichkeit Ihre alte Nummer.
</p>

</div>
