<h3>Hier werden die Kommissionsnummern vergeben und die Helferschichten verteilt.</h3>
<p>
Um diesen Markt realisieren zu können, sind wir auf viele ehrenamtliche Helfer angewiesen.
Wir möchten daher zunächst unsere Helferschichten füllen, bevor wir den Großteil der Kommissionsnummern über die Warteliste vergeben.
</p>
<p>
<a id = shift_descr_tggl class = 'intext'>
Kurze Infos zu den Helferschichten und den Kuchenspenden <span id = plclick> (bitte hier klicken)</span>:
</a>
</p>



<div id = "shift_descr"> 
<p>
<span class = "shift_descr_head">
Am Freitag
</span>
wird ausschließlich die angenommene Kleidung kontrolliert, nach Größen auf die Verkaufstische sortiert und auf Kleiderbügel gehängt.
Dazu werden um die 25 aufmerksame und flinke Helfer gebraucht.
Wenn Sie uns dabei unterstützen möchten, werden Sie sicher einen "alten Hasen" finden, der sich bereits auskennt.
Es ist immer wieder erstaunlich, wie geschätzte 400 Kleiderkisten innerhalb weniger Stunden verkaufsbereit ausliegen!
</p>

<p>
<span class = "shift_descr_head">
Am Samstag Vormittag
</span>
während des Marktes benötigen wir vor allem zu Beginn des Verkaufs von 9 bis 11 Uhr Ihre Hilfe als "Ordner". 
Viele Besucher schätzen es, wenn die Kleidung auf den Tischen geordnet bleibt und Ansprechpartner bereit stehen.
Außerdem brauchen wir natürlich Verstärkung zum Verkauf von Kaffee, Kuchen, Waffeln und Getränken oder an den Kassen.
</p>

<P>
<span class = "shift_descr_head">
Am Samstag Mittag,   
</span>
nach dem Markt benötigen wir entsprechend viele Hände, die die zuvor ausgelegte Ware wieder zurück in die zahllosen Kisten verteilen, damit am Nachmittag die nicht verkaufte Kleidung und das Spielzeug wieder abgeholt werden können.
Auch dieses "Rücksortieren" ist inzwischen durch die gewonnene Routine der letzten Jahre zu einer entspannten und mitunter amüsanten Tätigkeit geworden.
Hier "wuseln" dann bis zu 30 Männer und Frauen durch den Gemeindesaal.
</P>

<p>
<span class = "shift_descr_head">
Spenden
</span>
Unser Kuchenverkauf ist nur durch Ihre Kuchen- bzw. Waffelspenden realisierbar. Bitte bringen Sie Kuchen (sehr gerne auch mit Sahne) schon am Freitag zur Annahme mit. Bitte <b>beschriften</b> Sie die Kuchen mit Ihrem Namen und Art des Kuchens.
<br />
Falls Sie einen Waffelteig machen möchten, erhalten Sie unser bewährtes Rezept dazu mit Ihrer Anmeldebestätigung.
</p>

<p>
<span class = "shift_descr_head">
Vorteile für Helfer
</span>
Als Helfer erhalten Sie sofort eine Kommissionsnummer.
Falls Sie schon einmal bei uns verkauft haben, behalten Sie mit deutlich höherer Wahrscheinlichkeit Ihre alte Nummer.
Außerdem sind alle Helfer herzlich eingeladen zum Voreinkauf am Samstag zwischen 8-9 Uhr.
</p>

</div>
