<h3>Hier werden die Kommissionsnummern vergeben und die Helferschichten verteilt.</h3>

<p>
Kurze Infos zu den einzelnen Schichten:
</p>



<div class = "shift_descr">
<span class = "shift_descr_head">
Am Freitag
</span>
wird ausschließlich die angenommene Kleidung kontrolliert, nach Größen auf die Verkaufstische sortiert und auf Kleiderbügel gehängt.
Dazu werden um die 25 aufmerksame und flinke Helfer gebraucht.
Wenn Sie uns dabei unterstützen möchten, werden Sie sicher einen "alten Hasen" finden, der sich bereits auskennt.
Es ist immer wieder erstaunlich, wie geschätzte 400 Kleiderkisten innerhalb weniger Stunden verkaufsbereit ausliegen!
</div>

<br />

<div class = "shift_descr">
<span class = "shift_descr_head">

Am Samstag Vormittag
</span>

während des Marktes benötigen wir vor allem zu Beginn des Verkaufs von 9 bis 11 Uhr Ihre Hilfe als "Ordner". 
Viele Besucher schätzen es, wenn die Kleidung auf den Tischen geordnet bleibt und Ansprechpartner bereit stehen.
Außerdem brauchen wir natürlich Verstärkung zum Verkauf von Kaffee, Kuchen, Waffeln und Getränken oder an den Kassen.
</div> 



<br />
<div class = "shift_descr">
<span class = "shift_descr_head">

Am Samstag Mittag,   
</span>
nach dem Markt benötigen wir entsprechend viele Hände, die die zuvor ausgelegte Ware wieder zurück in die zahllosen Kisten verteilen, damit am Nachmittag die nicht verkaufte Kleidung und das Spielzeug wieder abgeholt werden können.
Auch dieses "Rücksortieren" ist inzwischen durch die gewonnene Routine der letzten Jahre zu einer entspannten und mitunter amüsanten Tätigkeit geworden.
Hier "wuseln" dann bis zu 30 Männer und Frauen durch den Gemeindesaal.
</div>


<br />
<div class = "shift_descr">
<span class = "shift_descr_head">

Spenden
</span>
Unser Kuchenverkauf ist nur durch Ihre Kuchen- bzw. Waffelspenden realisierbar. Bitte bringen Sie Kuchen (sehr gerne auch mit Sahne) schon am Freitag zur Annahme mit. Unser bewährtes Waffelrezept erhalten Sie auf Anfrage.
<br />
 
</div>
<br />
<br />
<br />