{{response.files.append(URL('static','js/config_event.js'))}}
{{extend 'layout.html'}}

<h3>Configure the event!</h3>

<h4>Sale form</h4>
<p>Inspect the current appearance of the sale enrollment form:</p>
{{=button_view_form}}
<br />
<br />

<h4>Event types</h4>
{{=tabctrl_event_types}}
{{=table_event_types}}
<br />
<br />

<h4>Events</h4>
{{=tabctrl_events}}
{{=table_events}}
<br />
<br />

<h4>Copy event configuration</h4>
<p>Copy the event configuration, i.e. shifts and donations including all settings, from some former event to the current event:</p>
{{=copy_form}}
