{{extend 'layout.html'}}
<script src="/static/js/config_event.js" type="text/javascript"></script>

<h3>Configure the event!</h3>
{{=DIV(response.flash, _class = 'flash')}}
<h4>Sale form</h4>
<p>Inspect the current appearance of the enrollment form:</p>
{{=button_view_form}}
<br />
<br />

<h4>Event types</h4>
{{=DIV(A('Click here to add new event type', _href = URL('crud', args = ['event_type', 'add'])), _class = 'link_add_table_element')}}
{{=table_event_types}}
<br />
<br />

<h4>Events</h4>
{{=DIV(A('Click here to add new add event', _href = URL('crud', args = ['event', 'add'])), _class = 'link_add_table_element')}}
{{=table_events}}
<br />
<br />

<h4>Copy event configuration</h4>
<p>Copy the event configuration, i.e. shifts and donations including all settings, from some former event to the current event:</p>
{{=copy_form}}
