<h3>Sie haben sich erfolgreich eine Kommissionsnummer reserviert.</h3>

<p>
Sie erhalten umgehend eine Email mit Ihrer Kommissionsnummer sowie Ihren Helferschichten und Spenden.
Außerdem erhalten Sie ausführliche Informationen zum organisatorischen Ablauf.
Bei weiteren Fragen oder Kommentaren können Sie gerne {{= A('Kontakt', _href=URL('contact', 'form'), _class = 'intext')}} mit uns aufnehmen.
</p>
<h2 align = center>
Das Second-Hand-Team wünscht Ihnen einen schönen und erfolgreichen
<br />
Frühjahrsmarkt 2012!
</h2>