<h3>Auflösen der Warteliste</h3>
<p>
Zum Auflösen wird die Warteliste zunächst sortiert: Helfer, die aus irgendwelchen Gründen noch keine Kommissionsnummer haben, werden nach oben sortiert.
Kuchenspenden werden dabei nicht berücksichtigt.
Den Personen werden dann in dieser Reihenfolge nacheinander Kommissionsnummern zugeteilt und jeweils entsprechende E-Mails gesandt.
Sollte schon eine Absage vorliegen, bekommt die Person eine spezielle Nachrücker-E-Mail. Es werden durch diesen Prozeß keine Absagen gesandt!
Abhängig von den gewählten Optionen werden entweder sämtliche verfügbare Kommissionsnummern vergeben oder nur ein Teil.
</p>
<p>
Hinweis: Wenn ausschließlich freie Kommissionsnummern vergeben werden sollen, werden genau so viele Nummern vergeben, wie es freie Nummern ("Weiße Nummern") gibt.
Falls eine Person auf der Warteliste Anspruch auf eine reservierte Helfernummer ("Gelbe Nummer") hat, so wird diese vergeben.
Es können am Ende also freie Nummern übrig bleiben, so daß der Prozeß nochmals gestartet werden muß.
</p>
<p>
Soll die Warteliste endgültig aufgelöst werden, ist es ratsam, die reservierten Helfernummern ("Gelbe Nummern") freizugeben, um "Rote Nummern" möglichst zu vermeiden.
Auch mit dieser Option werden die "Gelben Nummern" aber immer noch gegenüber den "Weißen Nummern" geschont.
</p>