<h3>Erinnerungen versenden</h3>
<p>
Nach dem Markt wird an jeden, der sich am Markt als Verkäufer und/oder Helfer beteiligt hat, eine Danksagung versandt, 
die auch Informationen zur Nachbereitung des Marktes enthält.
Jeder bekommt dabei nur eine E-Mail, auch wenn er sich in mehreren Funktionen beteiligt.
</p>
<p>
Kuchenspenden allein werden nicht berücksichtigt, d.h. Personen auf der Warteliste, die Kuchen spenden wollten, aber keine Kommissionsnummer erhalten haben, bekommen <strong>keine</strong> Erinnerung.
</p>

<p>
<strong>Achtung: </strong>Die E-Mail enthält eine Verknüpfung mit der neuesten Seite mit Fundsachen. Diese Seite muß also angelegt sein, bevor diese E-Mail versandt wird!
</p>