*.pyc
.*
*.log
!.gitignore

/__etc
/cache
/cron
/databases
/errors
/private
/sessions
/uploads
/static/site_root

/foundation_old


/foundation_shot/dist
/foundation_shot/node_modules
/foundation_shot/*.*