<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
table.ctblconfdat {
    font-size: 1.0em;
    margin-bottom: 0.6em;
}

.ctblconfdat td.label {
    width: 10em;
    padding: 0 0.2em 0.2em 1em;
}

.ctblconfdat td.fullrow {
    padding: 0.8em 0.2em 0.2em 1em;
}

table{
    margin: 0.5em 0 0 2em;
}
.link_registration, .block_contribution{
    margin: 0 0 0 2em;
}

</style>
</head>
<body text="#000000" bgcolor="effcef">
{{=body}}
</body>
</html>