<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Secondhand Ottersweier</title>

        <link rel="apple-touch-icon"      sizes="180x180" href="{{=URL('static','_%s/logo/apple-touch-icon.png'  % response.static_version)}}">
        <link rel="icon"                  sizes="32x32"   href="{{=URL('static','_%s/logo/favicon-32x32.png'     % response.static_version)}}" type="image/png">
        <link rel="icon"                  sizes="16x16"   href="{{=URL('static','_%s/logo//favicon-16x16.png'    % response.static_version)}}" type="image/png" >
        <link rel="manifest"                              href="{{=URL('static','_%s/logo/site.webmanifest'      % response.static_version)}}">
        <link rel="mask-icon"                             href="{{=URL('static','_%s/logo/safari-pinned-tab.svg' % response.static_version)}}" color="#00a300">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="theme-color" content="#00a300">

	    {{  if config.enable_registration:
                css_file = 'css/app4.css'
                pass
            else:
                css_file = 'css/app3.css'
                pass

	        response.files.append(URL('static', css_file))
	        response.include_files()
	    }}
    </head>
    <body>
        {{include}}
        <script src="{{=URL('static','js/app.js')}}"></script>
    </body>
</html>

