<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>

  {{
    if response.b_noindex:
        response.write(META(_name="robots", _content="noindex, nofollow"))
        pass

    if response.b_responsive:
        response.write(META(_name="viewport", _content="width=device-width, initial-scale=1"))
        pass
  }}

  <link rel="apple-touch-icon"      sizes="180x180" href="{{=URL('static','_%s/logo/apple-touch-icon.png'  % response.static_version)}}">
  <link rel="icon"                  sizes="32x32"   href="{{=URL('static','_%s/logo/favicon-32x32.png'     % response.static_version)}}" type="image/png">
  <link rel="icon"                  sizes="16x16"   href="{{=URL('static','_%s/logo//favicon-16x16.png'    % response.static_version)}}" type="image/png" >
  <link rel="manifest"                              href="{{=URL('static','_%s/logo/site.webmanifest'      % response.static_version)}}">
  <link rel="mask-icon"                             href="{{=URL('static','_%s/logo/safari-pinned-tab.svg' % response.static_version)}}" color="#00a300">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#00a300">

  {{
    if response.b_responsive:
        response.files.append(URL('static','css/default_responsive.css'))
        response.files.append(URL('static','css/tiles.css'))
        response.files.append(URL('static','css/crud_view_responsive.css'))
        pass
    else:
        response.files.append(URL('static','css/default.css'))
        pass
  }}
  {{response.files.append(URL('static','css/admin.css'))}}
  {{response.files.append(URL('static','css/text.css'))}}
  {{response.files.append(URL('static','css/list.css'))}}

  {{response.files.insert(0, URL('static','js/jquery.js'))}}
  {{response.files.append(URL('static','js/jquery.ba-outside-events.min.js'))}}
  {{response.files.append(URL('static','js/menu.js'))}}
  {{response.files.append(URL('static','js/list.js'))}}
  {{response.files.append(URL('static','js/dropdown_autosubmit.js'))}}
  {{response.files.append(URL('static','js/web2py.js'))}}

  {{response.include_files()}}

  <title>
   Secondhand Ottersweier
  </title>


 </head>
 {{from shotmenu import *}}
 <body>
   <div id="header">
     <h1>
        {{= A('Secondhand Ottersweier', _href=URLWiki('start'))}}
     </h1>
   </div>
{{=createMenu(auth)}}
{{
    if 'wiki_ctrl' not in response._vars:
        wiki_ctrl = None
        pass
}}
{{=createStaffMenu(auth, wiki_ctrl)}}
<div id="page">
    {{
    if not response.flash_custom_display:
        if response.flash_content_type:
            content_type = response.flash_content_type
        else:
            content_type = 'info'
        pass
        response.write(DIV(response.flash, _class = 'flash', _content_type = content_type))
    pass
    }}
    {{include}}
    {{include 'debug.html'}}
</div>

   <div id="footer">
    <p>
        {{= A(T('Legal Details'), _href=URLWiki('impressum'))}}
        Powered by <a href="http://www.web2py.com/"> web2py</a>
        Design by  <a href="http://www.freecsstemplates.org/"> Free CSS Templates</a>
    </p>
   </div>
  </div>
 </body>
</html>