table.caution {
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	border-style: double;
	border-width: 2px;
    border-color: #808080;
}
table.caution td {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
    border-color: #808080;
}


#task_status {
	font-weight: normal;
	font-size: 1.2em;
	margin: 18px 0 12px 0;
}

#task_status span {
	margin: 0 4px 0 0;
}

#task_status span.item {
    margin: 0 24px 0 0;
}

#task_status span.title {
    margin: 0 24px 0 0;
    font-weight: bold;
}

#task_status .active{
    font-weight: bold;
    color: #EE5555;
}
#task_status .inactive{
    font-weight: normal;
    color: #33AA33;
}

#task_form{
	width: 100%;
}

#task_form input[type="text"] {
    width: 3em;
}

#task_form tr:last-child td:last-child{
    text-align: right;
}


/* person summary */
#ps_name {
	font-weight: bold;
	font-size: 1.2em;
}

.ps_email_active {
    color: #33AA33; 
}
.ps_email_inactive {
    color: #EE5555;
}

#ps_info_table > tbody > tr > td{
	padding: 0 12px 0 0;
}

#ps_data_table td > div{
    width: 100%;
    height: 100%;
    position: relative;
}

#ps_data_table .ps_sale{
    text-align: center;
}

.ps_add_link {
    font-weight: bold;
    font-size: 1.2em;
    color: #AA3333;
    position: absolute;
    right: -6px;
    bottom: -10px;
}

#ps_prediction {
    font-weight: bold;
    color: #999999;
}

#ps_mail_table > tbody > tr > td{
    padding: 0 16px 0 0;
}

#ps_mail_table td.ps_inactive {
    font-weight: bold;
    color: #BBBBBB;
	text-align: center;
}

/* manage help */
.mh_shift_title{
    font-weight: bold;
}
.mh_activity{
	font-size: 1.2em;
}
.mh_shift_body{
	padding: 5px 0px 5px 20px;
}
.mh_add_link{
	font-weight: bold;
    font-size: 1.2em;
    color: #AA3333;
}
.mh_comment{
	padding: 0 0 5px 0;
}
.mh_person_list td, .mh_person_list_denied td{
	width: 340px;
}

.mh_person_list_denied {
    margin: 10px 0 0 0;
}

.mh_person_list_denied a{
    color: #999999;
}

.mh_msg_marker{
	padding: 0 0 0 10px;
	font-size: 0.8em;
	font-style: italic;
	color: #AA3333;
}


.md_notes_list  td{
    padding: 0 25px 0 0;
}
.ctggltrig, .cexpand, .ccollapse{
    color: #7799FF;
}
.cexpand{
	cursor: s-resize;
}
.ccollapse{
    cursor: n-resize;
}


/* styles for flash messages, taken from wiki.css */
div.flash[content_type = "info"]{
    border-color: #15a515;
    font-weight:bold;
}

div.flash[content_type = "info"] td{
	font-size:1.2em
}

div.flash[content_type = "error"]{
	color: #ff0000;
	border-color: #ff0000;
	font-weight:bold;
}

div.flash{
    display:none;
    position:absolute;
    padding:10px;
    min-width:250px;
    max-width:500px;
    
    background-color:#ffffff;
    
    cursor:pointer;
    
    border:3px solid;
    border-radius:8px;
    -o-border-radius: 8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index:2000;
}

div.flash #closeflash{color:inherit; float:right; margin-left:15px;}
.ie-lte7  div.flash #closeflash
{color:expression(this.parentNode.currentStyle['color']);float:none;position:absolute;right:4px;}

div.flash:hover { opacity:0.25; }

/* fix some IE problems */
.ie-lte8 div.flash{ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#000000', GradientType=0 ); }
.ie-lte8 div.flash:hover {filter:alpha(opacity=25);}



/* number status map */
table.number_status_map{
    font-family: verdana,arial,sans-serif;
    font-size:1.0em;
}
#number_status_map_legend{
    font-size:0.8em;
}

table.number_status_map td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a0a0a0;
    font-weight: bold;
}

table.number_status_map td.free {
	background: #ffffff;
}
table.number_status_map td.reserved {
    background: #ffff99;
}
table.number_status_map td.new {
    background: #99ddff;
}
table.number_status_map td.old_number {
    background: #aaffaa;
}
table.number_status_map td.not_old_number {
    background: #ff6f6f;
}
table.number_status_map td.not_old_but_missed_previous {
    background: #ffcfcf;
}
table.number_status_map td.unknown {
    background: #bbbbbb;
}

.admin_ctrl_form select{
    /*background-color: #ffffff;*/
    background-color: #ecffec;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    font-size: 1.1em;
    /*font-weight: bold;*/
    /*height: 24px;*/
    /*line-height: 20px;*/
    padding: 2px 2px;
    vertical-align: middle;
    margin: 0 15px 0 2px;
}
