/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	/*
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    */
}


/* Page layout*/

#header, #footer, #page, #menu_public > ul, #menu_staff{
	clear: both;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}


body {
	padding: 0;
	margin: 0 4px;
	text-align: justify;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
	background-image: url(../img/img_bgtop.gif);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto 200px;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a {
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	color: #15A515;
}

h1 {
	letter-spacing: -3px;
	font-size: 2.6em;
}

h2 {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	letter-spacing: px;
	font-size: 1.6em;
	font-weight: bold;
}

h3 {
    margin-top: 0.6em;	
	margin-bottom: 0.6em;
	font-size: 1.3em;
	font-weight: bold;
}

h4{
    font-weight: bold;
    color: #000000;
    font-size: 1.2em;
    margin-top: 1em;    
    margin-bottom: 0.2em;
}


p, table.intext{
    font-size: 1.2em;
    margin: 0 0 1em 0;
    line-height: 180%;
}

.ctblconfdat p{
    font-size: 1em;
    margin: 0;
    line-height: 100%
}

blockquote {
	margin: 0 0 0 1.5em;
	padding-left: 1em;
	border-left: 5px solid #DDDDDD;
}

a {
	color: #000000;
	text-decoration: none;
}


a.intext {
    border-bottom:2px dotted; 
}

a.intext:hover, p a:hover, table.flyer a:hover {
    color: #118111;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 8px 20px 0px 0px;
	border: 2px solid #434343; 
}


input, textarea, span.btn_inactive{
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 6px;
    border: 1px solid #626262;
    font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus{
    border-color: rgba(21, 165, 21, 0.8); /* #15A515; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(21, 165, 21, 0.6);
    outline: 0 none;
}

input[type="submit"]:not(.btn-default):not([value=Search]):not([value="Create Page from Slug"]){
    background:  #15A515;
    color: #FFFFFF;
    font-weight: bold;
    border-right: 2px solid #108010;
    border-bottom: 1px solid #108010;
    margin-bottom: 0;
}

input[type="submit"].irreversible {
    background: #CC0000 !important;
    border-right: 2px solid #801010 !important;
    border-bottom: 1px solid #801010 !important;
}

span.btn_inactive{
	background:  #AAAAAA;
    color: #FFFFFF;
    font-weight: bold;
    border-right: 2px solid #888888;
    border-bottom: 1px solid #888888;
    margin-bottom: 0;
}

form input[type="password"], form #auth_user_username{
	width: 180px;
}

form input[type="text"] {
	width: 300px;
}

/* Header */

#header h1 {
	float: left;
	height: 80px;
	padding: 20px 90px 0 0;
	font-size: 4em;
}

#header {
    height: 100px;
    margin: 0 auto;
}


/* Menu */

/* common */

.menu *{
    margin: 0;
    padding: 0;
}

.menu ul ul{
	position: absolute;
	display: none;
}

.menu li{
	position: relative;
	float: left;
    list-style: none;
}

.menu li li{
    float:none;
}


/* public */

#menu_public, #menu_public > ul, #menu_public > ul > li{
    height: 40px;
}

#menu_public {
	background-image: url(../img/img_menu.gif);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto;
    background-color: #118111;
}

#menu_public ul {
    z-index : 100;
}

#menu_public  a {
	position: relative;
	display: block;
	height: 100%;
	font-family: Tahoma,Arial,sans-serif;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}

#menu_public > ul > li > a{
    padding: 0px 10px 0px 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
}

#menu_public > ul > li.expand > a{
	background: url(../img/img_menu_down.png);
	background-repeat: no-repeat;
	background-position: center 30px;
	background-size: 10px 6px;
	background-color:transparent; /* internet explorer */
}

#menu_public li:hover {
    background-color:#3fc041;
}

#menu_public li:hover > a {
    color:#ffffff;
}

#menu_public ul ul{
    width:155px;
    border-color: #118111;
    border-width: 2px;
    border-style: solid;
    background-color: #ffffff;
}

#menu_public ul ul > li.expand > a{
    background: url(../img/img_menu_right_green.png)  no-repeat 145px center;
    background-size: 6px 10px;
}

#menu_public ul ul > li.expand:hover > a{
    background: url(../img/img_menu_right_white.png)  no-repeat 145px center;
    background-size: 6px 10px;
}

#menu_public ul ul a{
    padding: 10px 10px 10px 10px;
    font-size: 1.0em;
}

#menu_public ul ul li a{
    color: #118111;
}

#menu_public ul ul ul {
    left: 155px;
    top: -2px;
}

#menu_public > ul > li > ul{
	left: 0px;
}


/* staff menu */
#menu_staff{
	height: 26px;
}

#menu_staff ul{
	z-index : 50;
}

#menu_staff ul ul{
    width:155px;
    margin:0 0 0 10px;
    left:0;
    top:26px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

#menu_staff > ul > li:first-of-type{
    padding: 5px 10px 5px 0px;
}

#menu_staff li{
	
	padding: 5px 10px 5px 10px;
}
#menu_staff li li{
	padding:8px 0px 8px 10px;
	background-color: #ffffff;
	/*background-color:rgba(255,255,255,0.94);*/
}

#menu_staff a{
	font-size: 0.9em;
    font-weight: bold;
	font-family: Tahoma,Arial,sans-serif;
	color: #CC0000;
}
#menu_staff a:hover{
	color:#ff0000;
}


/* Footer */

#footer {
	clear: both;
    margin-top: 10px;
    padding: 30px 0;
	background: url(../img/img_footer.gif) repeat-x left top;
	color: #10A010;
}

#footer p {
	margin: 0 0 5px 0;
	text-align: center;
	line-height: normal;
	font-size: .9em;
}

#footer a {
	background: #15A515;
	padding: 1px 6px;
	border-right: 2px solid #108010;
	border-bottom: 1px solid #108010;
	text-decoration: none;
	color: #FFFFFF;
	margin-right: 40px;
}

h2.debug{
    color: #5555FF;
}

/* hide wiki tags */
div.w2p_wiki_tags {
    display: none;
}
