.tile{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* With this setting border and padding are included in width, but not margin! */
}


.tilescollection{

}


@media only screen and (min-width: 930px) {
	.tile{
	    width: 32.2580645161%;;
	    float: left;
	    margin: 0.537634408602%;
	    padding: 0.537634408602%;
	}
}

@media only screen and (max-width: 929px) {
    .tile{
        width: 48.9247311828%;;
        float: left;
        margin: 0.537634408602%;
        padding: 0.537634408602%;
    }
}


@media only screen and (max-width: 619px) {
    .tile{
        width:  100%; 
    }
}

.tile{
	position: relative;
	float: left;
	height: 164px;
	border: 1px solid rgba(25, 25, 25, 0.8);
	border-radius: 6px;
}
.req_line_project, .req_line_orga{
    width: 100%;
    float: left;
    border-spacing: 0 0;
    border-width: 0;
}

.req_project{
	position: relative;
	height: 30px;
	overflow: hidden;
	text-align: left;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
}
.req_amounts{
	height: 32px;
}

.req_amount_req{
	text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
}
.req_amount_spent{
    text-align: right;
    font-size: 13px;
    color: #15A515;
    white-space: nowrap;
}

.req_org{
	position: relative;
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    height: 30px;
    overflow: hidden;
    margin: 4px 0;
}

.req_date{
	height: 30px;
    text-align: right;
    font-size: 1em;
}
	
.req_descr{
	width: 100%;
	height: 56px;
    text-align: justify;
    font-size: 13px;
    line-height: 14px;
    overflow: hidden;
    position: relative;
}

.fade{
	content: '';
	pointer-events: none;
    position: absolute;
    width: 60%;
    height: 14px;
    bottom: 0;
    right: 0;
    
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}



.req_req_line_bottom{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1em;
	width: 100%;
	margin: 0 0 0.5em 0.5em;
}

.req_req_line_bottom a{
	padding: 0 20px 0 0;
    font-style: italic;
    padding:2px;
    margin: 0 2em 0 0;

}
.req_req_line_bottom a:hover{
    color: #118111;
}

.icon_details, .icon_edit{
	display:inline-block;
	vertical-align:text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position:-48px 0;
    width:14px;
    height:14px;
    margin:0 0.3em 0 0;
    background-repeat:no-repeat;
	}

.icon_details{
	background-position:-48px 0;
}
.icon_edit{
    background-position:0 -72px
}
