<h3>Impressum</h3>
<p>
Diese Webseite wird zur Verfügung gestellt vom Secondhand-Team Ottersweier als einer Gruppierung der <strong>Katholischen Frauengemeinschaft Ottersweier</strong>.

Diese Webseite dient dem Zweck, den regelmäßig stattfindenden Kinder-Secondhand-Basar in <a class = 'intext' href = "http://de.wikipedia.org/wiki/Ottersweier">Ottersweier</a> zu organisieren.
Die inhaltliche Verantwortung für diese Seite liegt beim Secondhand-Team Ottersweier, vertreten durch
<br />
<br />
Dipl. Soz. Päd. (FH) Nina Bugner-Bechmann<br />
Schwarzwaldstr. 50, 77833 Ottersweier
<br />
<br />

Wenn Sie mit uns Kontakt aufnehmen möchten, nutzen Sie bitte unser
{{= A('Kontaktformular', _href=URL('contact', 'form'), _class = 'intext')}}.

</p>