<h3>Impressum</h3>
<p>
Diese Webseite wird zur Verfügung gestellt von den Elternbeiräten der Kindergärten St. Marien und St. Michael in <a href = "http://de.wikipedia.org/wiki/Ottersweier">Ottersweier</a> zu dem Zweck, den Second Hand Kleidermarkt zu organisieren.
Die inhaltliche Verantwortung für diese Seite liegt bei den Elternbeiräten, vertreten durch
<br />
<br />
Dipl. Soz. Päd. (FH) Nina Bugner-Bechmann<br />
Schwarzwaldstr. 50, 77833 Ottersweier
<br />
<br />

Wenn Sie mit uns Kontakt aufnehmen möchten, nutzen Sie bitte unser
{{= A('Kontaktformular', _href=URL('contact', 'form'), _class = 'intext')}}.

</p>