{{extend 'layout.html'}}
<link href="/static/form_sale.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/form_sale.js" type="text/javascript"></script>



<h3>Anmeldung zum {{response.write(announcement)}}</h3>
<p>
Um diesen Markt realisieren zu können, sind wir auf viele ehrenamtliche Helfer angewiesen.
Wir möchten daher zunächst unsere Helferschichten füllen, bevor wir den Großteil der Kommissionsnummern über die Warteliste vergeben.
</p>

{{if template_set == 'child':}}
    {{include 'sale/form/form_explain_child.html'}}
{{elif template_set == 'toys':}}
    {{include 'sale/form/form_explain_toys.html'}}
 {{pass}}

{{
if form.errors.msg != None:
    response.write(CENTER(T('Attention! The form contains errors! See below!'), _id = 'error_alarm'))
    response.write(CENTER(form.errors.msg, _class = 'error', _id = 'error_response'))    
    pass
    
response.write(form)
}}
