{{extend 'layout.html'}}
<link href="/static/form_sale.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/form.js" type="text/javascript"></script>



{{include 'sale/form/form_de.html'}}


{{
if form.errors.msg != None:
    response.write(CENTER(T('Attention! The form contains errors! See below!'), _id = 'error_alarm'))
    response.write(CENTER(form.errors.msg, _class = 'error', _id = 'error_response'))    
    pass
    
if b_numbers_free == False:
    response.write(CENTER(T('Achtung: Es sind bereits alle Kommissionsnummern vergeben!'), _id = 'error_alarm'))
    pass
    
response.write(form)

if config.debug:

	response.write(H1('Debug output'))

	response.write(H2('id'))
	response.write(id)

	response.write(H2('form.vars'))
	response.write(BEAUTIFY(form.vars))
	
	response.write(H2('form.accepted'))
	response.write(BEAUTIFY(form.accepted))	
	
	response.write(H2('form.errors'))
	response.write(BEAUTIFY(form.errors))			
	
	pass
}}


  

