{{response.files.append(URL('static','js/form_sale.js'))}}
{{response.files.append(URL('static','css/form_sale.css'))}}

{{extend 'frameset.html'}}

{{from shotconfig import config}}
{{from formutils import Progress}}

<h3>Anmeldung zum {{response.write(announcement)}}</h3>

{{=auth.get_shotwiki_page(slug_base = 'sale-form-explanation')}}

{{
if form.errors.msg != None:
    response.flash_custom_display = True # hide default wiki flash messages
    response.write(CENTER(T('Attention! The form contains errors! See below!'), _id = 'error_alarm'))
    response.write(CENTER(form.errors.msg, _class = 'error', _id = 'error_response'))
    pass
    
response.write(form)
}}

{{p = Progress(config.progress.registration_sale, 4)}}
{{=p.getProgressBar()}}
