{{extend 'layout.html'}}

<h3>Es ist ein Fehler aufgetreten!</h3>

<p>
Leider konnten Ihre Daten nicht wie vorgesehen verarbeitet werden. Möglicherweise ist unser System vorübergehend überlastet. Versuchen Sie es später noch einmal.
<br />
Zur Analyse des Problems wäre es sehr hilfreich, wenn Sie über unser {{= A('Kontaktformular', _href=URL('contact', 'form'), _class = 'intext')}} beschreiben könnten, was zu diesem Fehler führte.
</p>
<center>
<p>
Vielen Dank, Das Second Hand Team Ottersweier
</p>
</center>

