{{extend 'layout.html'}}

<h3>Mist! Es ist ein <span id=error_alarm>Fehler</span> aufgetreten!</h3>

<p>
Leider konnten Ihre Daten nicht wie vorgesehen verarbeitet werden. Möglicherweise ist unser System vorübergehend überlastet.
Was auch immer Sie gerade tun wollten, versuchen Sie es später noch einmal.
<br />
Zur genaueren  Analyse des Problems wäre es äußerst hilfreich, wenn Sie über unser {{= A('Kontaktformular', _href=URL('contact', 'form'), _class = 'intext')}} beschreiben könnten, welche Aktionen zu diesem Fehler führten.
</p>
<center>
<p>
Vielen Dank, Das Secondhand-Team Ottersweier
</p>
</center>

