<h3>Liebe Besucher,</h3>
<p>
die Elternbeiräte der Kindergärten St. Marien und St. Michael Ottersweier veranstalten jeweils im Frühjahr und Herbst einen Kinder-Secondhand-Basar auf Kommissionsbasis (<a class="intext" href="{{=config.shoturl}}static/Richtlinien.pdf">Informationen für Verkäufer</a>).
Den Erlös aus diesen Veranstaltungen erhalten beide Kindergärten, er kommt somit ausschließlich den Kindern zugute.
In den letzten Jahren konnten wir so bereits zahlreiche Projekte in den Kindergärten unterstützen und zusätzliche Spielgeräte anschaffen.
<br />
<br />
Der nächste Kleidermarkt wird
</p>
<center id="next_event_date">
am Samstag, den 2. März 2013 von 9-12 Uhr
<br />
<br />
im Gemeindezentrum St. Johannes in Ottersweier
</center>
<p>
stattfinden.
<br />
<br />
Für das leibliche Wohl wird mit Kaffee und Kuchen, Waffeln, Brezeln und Getränken gesorgt sein.
<strong>Bitte nutzen Sie die Parkplätze am Sonnenplatz</strong> (vor dem Gemeindezentrum herrscht absolutes Halteverbot).
<br />
Einen schönen und erfolgreichen Markt für alle Beteiligten wünscht
</p>
<center>
<p>
Das Second Hand Team Ottersweier.
</p>
</center>
