<p>

Die Elternbeiräte der Kindergärten St. Marien und St. Michael Ottersweier veranstalten jeweils im Frühjahr und Herbst einen Kinder-Secondhand-Basar auf Kommissionsbasis (<a class="intext" href="{{=config.shoturl}}static/Richtlinien.pdf">Informationen</a> für Verkäufer).
Den Erlös aus diesen Veranstaltungen erhalten beide Kindergärten, er kommt somit ausschließlich den Kindern zugute.
In den letzten Jahren konnten wir so bereits zahlreiche Projekte in den Kindergärten unterstützen und zusätzliche Spielgeräte anschaffen.
</p>

<center>
<h3>
Der nächste Kleidermarkt wird im Frühjahr 2013 stattfinden.
</h3>
</center>

<p>
Die Anmeldung als Verkäufer und die Vergabe der Kommissionsnummern wird auf dieser Seite etwa sechs Wochen vorher freigeschaltet sein.

Wir werden uns bekannte ehemalige Verkäufer rechtzeitig per E-Mail benachrichtigen. Sie können uns dazu auch gerne Ihre E-Mail-Adresse mitteilen über unser {{= A('Kontaktformular', _href=URL('contact', 'form'), _class = 'intext')}}.
</p>