<h2>Datenschutzerklärung</h2>

<h3>
Erhebung und Speicherung von Daten
</h3>
<p>
Der informative Teil dieser Seite kann grundsätzlich ohne die Angabe personenbezogener Daten genutzt werden.
Um unsere Kommissionsmärkte reibungslos zu organisieren, benötigen wir allerdings Name, Adresse, Telefonnummer sowie E-Mail-Adresse von Nutzern, die sich als Verkäufer oder Helfer anmelden möchten.
</p>

<h3>
Zweckgebundene Verwendung von Daten
</h3>
<p>
Wir nutzen Ihre Daten ausschließlich zum Zwecke der Organisation unserer Kommissionsmärkte.
Konkret verwenden wir die Personalien, um Sie als Verkäufer oder Helfer zu registrieren und am Markt eindeutig zu identifizieren.
Ihre verifizierte E-Mail-Adresse benötigen wir, da wir Anmeldebestätigungen und Erinnerungen per E-Mail versenden.
Bei Rückfragen sowie technischen oder organisatorischen Problemen werden wir ggf. auch telefonisch Kontakt mit Ihnen aufnehmen.
</p>
<p> 
Darüber hinaus versenden wir vor den Märkten per E-Mail Einladungen an alle uns bekannten ehemaligen Verkäufer. Diese Einladungen enthalten stets einen Link, über welchen Sie weitere E-Mail abbestellen können.
</p>
<p> 
Sämtliche personenbezogenen Daten werden streng vertraulich behandelt! Einblick in die Daten erhalten nur die mit der Organisation unserer Märkte unmittelbar betrauten Personen. 
Eine Weitergabe Ihrer Daten an Dritte erfolgt grundsätzlich nicht.
</p>
<p> 
Auch die Übermittlung an auskunftsberechtigte staatliche Institution und Behörden erfolgt nur im Rahmen der gesetzlichen Auskunftspflichten oder wenn wir durch eine gerichtliche Entscheidung zur Auskunft verpflichtet werden.
</p>
<p>
Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
</p>

<h3>Erhebung und Speicherung von Nutzungsdaten</h3>
<p>
Um die Funktion unserer Seite zu überprüfen und technische Probleme analysieren zu können, zeichnen wir Daten auf wie z. B. den Zeitpunkt des Seitenaufrufs, die Seite, von der Sie unsere Seite aufgerufen haben und ähnliches.
Diese üblichen Serverlogs werden jedoch weder systematisch ausgewertet noch dauerhaft gespeichert.
</p>

<h3>
Auskunftrecht und Löschung von Daten
</h3>
<p>
Sie erhalten jederzeit ohne Angabe von Gründen kostenfrei Auskunft über Ihre bei uns gespeicherten Daten.
Sie können jederzeit Ihre bei uns erhobenen Daten berichtigen oder löschen lassen.
Wenden Sie sich hierzu bitte an die im {{= A('Impressum', _href=URL('main', 'legal'), _class = 'intext')}} angegebene Kontaktadresse oder verwenden Sie einfach unser {{= A('Kontaktformular', _href=URL('contact', 'form'), _class = 'intext')}}.
Wir stehen Ihnen jederzeit gern für weitergehende Fragen zu unseren Hinweisen zum Datenschutz und zur Verarbeitung Ihrer persönlichen Daten zur Verfügung. 
</p>

<p><i>
Quellen: 
<a rel="nofollow" href="http://www.datenschutzerklaerung-online.de/datenschutzerklaerung.html" target="_blank">Datenschutzerklärung</a>,
<a rel="nofollow" href="http://www.e-recht24.de/muster-datenschutzerklaerung.html" target="_blank">eRecht24</a>
</i></p>
