<h3>Datenschutzerklärung</h3>

<p>
Die auf dieser Seite erhobenen Daten dienen ausschließlich dazu, Sie als Verkäufer oder Helfer beim Secondhand Ottersweier zu registrieren, eindeutig zu identifizieren und bei evtl.
Rückfragen oder Informationen Kontakt mit Ihnen aufnehmen zu können. 
<br />
Darüber hinaus werden die Daten zur Vorbereitung der nächsten Märkte verwendet werden, z.B. um Ankündigungen an ehemalige Verkäufer zu versenden oder Kommissionsnummern zu reservieren. 
<br />
<br />
Es werden nur die Daten der abgesendeten Formulare mit Zeitstempel gespeichert.
<br />
<br />
Sämtliche persönliche Daten werden streng vertraulich behandelt!
Einblick in die Daten erhalten nur die mit der Organisation der Veranstaltung unmittelbar betrauten Personen.
<br />
<br />
Vom Secondhand-Team Ottersweier mit der Datenverarbeitung beauftragt und dafür verantwortlich ist:
<br />
<br />
Dr. rer. nat. Michael Bechmann, <br />
Schwarzwaldstr. 50, 77833 Ottersweier
<br />
<br />
Wenn Sie möchten, daß Ihre persönlichen Daten unverzüglich nach Ende der Veranstaltung gelöscht werden, teilen Sie uns dies einfach über unser {{= A('Kontaktformular', _href=URL('contact', 'form'), _class = 'intext')}} mit.
</p>