{{response.flash_custom_display = True}}

{{extend 'frameset.html'}}
{{include 'tasks/description/%s.html' % task_id}}


{{
if config.enable_tasks:
    s = 'Aktiv'
    c = 'active'
else:
    s = 'Inaktiv'
    c = 'inactive'
    pass
r1 = SPAN(s, _class = c)

if config.simulate_mail:
    s = 'Wird simuliert.'
    c = 'inactive'
else:
    s = 'Wird real versandt!'
    c = 'active'
    pass
r2 = SPAN(s, _class = c)

response.write(DIV(SPAN('Aktivierungsstatus', _class = 'title'), SPAN(SPAN('Task:'), r1, _class = 'item'), SPAN(SPAN('E-Mail:'), r2, _class = 'item'), _id = 'task_status'))
}}

{{=form}}
{{if number != None:
    response.write(DIV('Durch diesen Prozeß würden folgende %d Positionen bearbeitet werden:' % number, _class = 'table_ctrl'))
    pass
}}
{{if table:
    response.write(table)
    pass
}}