{{extend 'layout.html'}}

<h3>Background tasks</h3>

{{
if config.enable_tasks:
    s = 'enabled'
    c = 'active'
else:
    s = 'disabled'
    c = 'inactive'
    pass
r1 = TR('Tasks activation status:', TD(s, _class = c))

if config.simulate_mail:
    s = 'simulate'
    c = 'inactive'
else:
    s = 'LIVE!'
    c = 'active'
    pass
r2 = TR('Mail status:', TD(s, _class = c))

response.write(TABLE(r1, r2, _id = 'task_status'))
}}

<br />
Mit dem Parameter "limit" läßt sich steuern, wieviele Datenbankeinträge tatsächlich bearbeitet werden sollen.
<br />
limit = 0 oder leer: Keine Wirkung
<br />
limit > 0: Anzahl der zu bearbeitenden Einträge
<br />
limit < 0: Anzahl der Einträge, die übrig bleiben sollen
<br />
<br />
{{=form}}