table.caution {
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	border-style: double;
	border-width: 2px;
    border-color: #ff4040;
}
table.caution td {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
    border-color: #ff4040;
}

#task_status {
	font-weight: normal;
	font-size: 1.0em;
}

#task_status .active{
	font-weight: bold;
	color: #EE5555;
}
#task_status .inactive{
    font-weight: normal;
    color: #33AA33;
}

/* person summary */
#ps_name {
	font-weight: bold;
	font-size: 1.2em;
}

.ps_email_active {
    color: #33AA33;	
}
.ps_email_inactive {
    color: #EE5555; 
}

#ps_info_table > tbody > tr > td {
    padding: 0px 40px 0px 0px;
}

.ps_add_link {
    font-weight: bold;
    font-size: 1.4em;
    color: #33AA33;
    float: right;
}