.shift_descr_head {
    font-weight: bold;
    font-size: 1.0em;
}
#shift_descr {
	cursor:n-resize;
}
#shift_descr_tggl{
    cursor:s-resize;
}

#plclick {
	display: none;
}

#isnum{
	width:50%;
	text-align:center;
    margin:auto;
    padding: 8px;
    margin-bottom: 2em;
    color: green;
    font-size: 1.2em;
    font-weight: bold;
    border:2px solid green;
}

.cctrbpasv {
	color:grey;
}

.cctrbactv {
	font-size: 1.2em;  
}

.cctrbactv .cactnl {color:red; font-size:0.8333em;}
.cctrbactv .cactnm {color:black; font-size:0.8333em;}
.cctrbactv .cactnh {color:green; font-size:0.8333em;}


.cctrbhead {
	font-size: 1.2em;
}

.ccrtbnote td{
	padding-left:20px;
}

.csftgrphead {
	font-size: 1.2em;
	text-decoration: underline;
}

.ccnfwarn {
	color: red;
	text-decoration: blink;
}

#itblshifts {
	table-layout:fixed;
	margin-left:5%;
    width:90%;
	padding-top: 6px;
    padding-bottom: 20px;
}

#itbldons {
    margin-left:5%;
    padding-top: 6px;
    padding-bottom: 20px; 
}

.csfttblrow > td{ 
    /*border:thin solid blue;*/
    vertical-align:top;   
}
#itbldons td, .csftgrptbl td {
	/*border:thin solid green;*/
	padding-top: 5px;
    padding-bottom: 5px;
}

.csfttblrow + .csfttblrow > td{
	  padding-top: 25px;
}


#inoctrb{
	margin-left:5%;
	font-size: 1.2em;
	/*font-weight: bold;*/
	color: #000000;
	padding-top:5px;
    padding-bottom:5px;
}

#itblsubm{
	width:100%;
	padding-top:15px;
    font-size: 1.2em;
}

#isubm{
    float:right;	
}

textarea {
font-size: 0.83333em; /* 1/1.2*/
}


#error_response {
margin-right: auto;
margin-left: auto;
margin-bottom: 1em;
}

#error_alarm {
margin-bottom: 1em;
font-size: 1.4em;
color: red;
text-decoration: blink;
}




