table.list {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#000000;
	border-width: 1px;
	border-color: #a0a0a0;
	border-collapse: collapse;
}
table.list th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a0a0a0;
	background-color: #A0F0A0;
}
table.list td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a0a0a0;
}
table.list tr.even{
	background-color: #ecffec;
}
table.list tr.odd{
	background-color:#ffffff;
}

table.list .true{
    text-align:center;
    color: green;
}
table.list .false{
    text-align:center;
    color: red;
}
table.list .none{
    text-align:center;
    color: #b0b0b0;
}
form.test{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a0a0a0;  
}

.event_main_row td{
	height: 24px;
}

.event_sub_row{
	height: 18px;
}

.event_sub_row span.field{
	margin: 0 0 0 32px;
}

.ctggltrig{
	text-align:center;
}

.link_add_table_element{
	margin: 8px 0;
}