table.list {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#000000;
	border-width: 1px;
	border-color: #a0a0a0;
	border-collapse: collapse;
}
table.list th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a0a0a0;
	background-color: #A0F0A0;
}
table.list td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a0a0a0;
}
table.list tr.odd{
	background-color: #ecffec;
}
table.list tr.even{
	background-color:#ffffff;
}

table.list td.true{
    text-align:center;
    color: green;
}
table.list td.false{
    text-align:center;
    color: red;
}
table.list td.none{
    text-align:center;
    color: #b0b0b0;
}
form.test{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a0a0a0;  
}