p, #iwaitmsg  {
    font-size: 1.2em;
    margin: 0 0 1em 0;
    line-height: 180%;
}

.confirm_data {
font-size: 1.2em;
margin-bottom: 1em;
}

.mark {
font-weight: bold;
color: #CF3822;
}

a.intext {
text-decoration: none;
border-bottom:2px dotted; 
color: #000000;
}

a:hover {
    color: #FF5134;
}

#next_event_date {
font-weight: bold;
font-size: 1.4em;
margin:  0 0 1em 0;
color: #000000;
line-height:1.8;
}

#enrol_date {
font-weight: bold;
font-size: 1.2em;
margin:  0 0 1em 0;
color: #000000;
}

#no_numbers_alarm {
font-weight: bold;
font-size: 2em;
text-decoration: blink;
color: #CF3822;
padding: 8px;
}

#error_alarm {
	text-decoration: blink;
	font-size: 1.4em;
	color: #FF0000;
}

.error {
color: red;
}

#iwaitmsg {
    display: none;
    margin-top: 6px;
    text-align:center;
}
#itblconfdat td{
	padding: 0 1em 0.4em 0;
	
	}
}