#iwaitmsg  {
    font-size: 1.2em;
    margin: 0 0 1em 0;
    line-height: 180%;
}

.mark {
font-weight: bold;
color: #20C020;
}

#tbl_next_event_date, #tbl_enrol_dates{
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 1em;
}

#tbl_next_event_date td{
    font-weight: bold;
    font-size: 1.4em;
    margin:  0 0 1em 0;
    color: #000000;
    line-height:1.6;
}

#tbl_enrol_dates{
    font-size: 1.2em;
    line-height:1.6;
}

#enrol_date {
    font-weight: bold;
}

#no_numbers_alarm {
font-weight: bold;
font-size: 2em;
text-decoration: blink;
color: #20C020;
padding: 8px;
}

#error_alarm {
	text-decoration: blink;
	font-size: 1.4em;
	color: #FF0000;
}

.error {
color: red;
}

.message {
	color: blue;
}

#iwaitmsg {
    display: none;
    margin-top: 6px;
    text-align:center;
}

table.ctblconfdat{
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

.ctblconfdat td:first-child{
	padding: 0em 1em 0em 0em;
}

.ctblconfdat td.fullrow{
	padding: 0.8em 0.2em 0.2em 1em;
}

.ctblconfdat td.csftcomment{
    font-size: 0.8em;
    color: #FF0000;
    width: 60em;
}

.ctblconfdat td.ccfrmcomment{
	font-size: 0.8em;
	width: 60em;
}

/* appropriation request form */

#form_request p{
    line-height: 140%;
    margin: 0 0 0.2em 0;
}

#form_request td.w2p_fl{
	padding:  0 0 0 2em;
	width: 12em
}