<h3>Sie haben den ersten Schritt zur Anmeldung erfolgreich getan.</h3>

<p>
Wir haben gerade eine E-Mail an Sie versandt. Bitte bestätigen Sie die E-Mail-Adresse, indem Sie auf den Link in der E-Mail klicken.
Sie werden dann automatisch weitergeleitet bis zur Seite, auf der die Kommissionsnummern und Helferschichten vergeben werden.
<br />
Dieses Verfahren stellt sicher, daß  die von Ihnen eingetragene E-Mail-Adresse korrekt ist und Sie Ihre Kommissionsnummer sicher erhalten werden.
<br />
<strong>Achtung:</strong> Schauen Sie ggf. in Ihren <strong>Spam</strong>- oder Junk-Ordner. Wir wissen, daß diese E-Mail insbesondere bei web.de-Kunden oft darin verschwindet!
<br />
Bei weiteren Fragen oder Kommentaren können Sie gerne {{= A('Kontakt', _href=URL('contact', 'form'), _class = 'intext')}} mit uns aufnehmen.
</p>
<center>
<p>
Ihr Secondhand-Team Ottersweier.
</p>
</center>