{{extend 'layout.html'}}
<link href="/static/list.css" rel="stylesheet" type="text/css" />
      
        
{{

response.write(buttons)

response.write(list, escape=False)

if config.debug:

    response.write(H1('Debug output'))

    response.write(H2('response.flash'))
    response.write(BEAUTIFY(response.flash))    

    response.write(H2('session'))
    response.write(BEAUTIFY(session))   
    
    response.write(H2('request.vars'))
    response.write(BEAUTIFY(request.vars))    
    
    response.write(H2('config.contribution_data'))
    response.write(config.contribution_data)
    
    response.write(H2('heading'))
    response.write(headers)
    
    pass
}}