{{extend 'layout.html'}}
<link href="/static/list.css" rel="stylesheet" type="text/css" />
      
        
{{
response.write(H3('help'))
response.write(SQLTABLE(rows_help, orderby='dummy', headers='fieldname:capitalize'))
response.write(BR())

response.write(H3('bring'))
response.write(SQLTABLE(rows_bring, orderby='dummy', headers='fieldname:capitalize'))
response.write(BR())

response.write(H3('messages'))

columns = ('message.id', 
           'message.event', 
           'message.vendor',
           'message.text'         

           )
response.write(SQLTABLE(rows_message, columns = columns, orderby='dummy', headers='fieldname:capitalize'))


if config.debug:

response.write(H2('Special debug output'))


    
    pass
}}