{{
if action in ['add', 'edit']:
    b_modify_db = True
    pass
else:
    b_modify_db = False
    response.b_responsive = True
    pass
}}

{{extend 'frameset.html'}}

{{if b_modify_db:
    response.write(H3('You are about to modify the database. Please be careful!'))
    pass
  else:
    response.write(H3('Vollständiger Datenbankeintrag'))
    pass
}}

{{=crud_response}}

{{
if not b_modify_db:
    response.write(A(DIV('Zurück zur Übersicht', _class = 'button'), _href = return_page))
    pass
}}