{{extend 'layout_admin.html'}}

{{
from formutils import TableUtils, getActNumberRatio
tu = TableUtils()

response.write(H3('Dashboard (%s)'%event))

response.write(P('Statistik zu den Kommissionsnummern:'))
response.write(TABLE(TR('Insgesamt zu vergebene Nummern', n_limit,     _class = tu.get_class_evenodd()),
                     TR('Bereits vergebene Nummern',      n_assigned,  _class = tu.get_class_evenodd()),
                     TR('Personen auf der Warteliste',    n_wait,      _class = tu.get_class_evenodd()),
                     TR('Noch verfügbare Nummern',        max([0, n_limit - n_assigned - n_wait]),   _class = tu.get_class_evenodd()),
                    _class = 'list' ))
response.write(BR())


response.write(P('Bereits übernommene Helferschichten:'))
tu.reset()

aux = [('Insgesamt', n_shifts['taken'], n_shifts['total'])]
aux.extend([('%s, %s, %s' % (s.day, s.time, s.activity), s.actual_number, s.target_number) for s in shifts])
response.write(TABLE(
                     *[TR(x[0], TD('%d / %d' % (x[1], x[2]), _class = getActNumberRatio(x[1], x[2])['_class'])) for x in aux],
                     _class = 'list' ))
response.write(BR())


response.write(P('Bereits zugesagte Kuchenspenden:'))
tu.reset()

aux = [('Insgesamt', n_donations['taken'], n_donations['total'])]
aux.extend([(d.item, d.actual_number, d.target_number) for d in donations])
response.write(TABLE(
                     *[TR(x[0], TD('%d / %d' % (x[1], x[2]), _class = getActNumberRatio(x[1], x[2])['_class'])) for x in aux],
                     _class = 'list' ))
            
}}