{{extend 'layout.html'}}

{{


response.write(H3('Here is all information on the sale numbers.'))

response.write(TABLE(TR('assigned total: ',           count_assigned_total),
                     TR('assigned general: ',         count_assigned_general),
                     TR('assigned kindergarten: ',    count_assigned_kg),
                     TR('general free: ',             count_free_general),
                     TR('kindergarten free: ',        count_free_kg),
                        )
               )
               
response.write(TABLE(TR('These are the free general numbers: ',      str(free_general)),
                     TR('These are the free kindergarten numbers: ', str(free_kg))
                     )
               )


if config.debug:

    response.write(H1('Debug output'))

    response.write(H2('response.flash'))
    response.write(BEAUTIFY(response.flash))    

    response.write(H2('session'))
    response.write(BEAUTIFY(session))   
    
    response.write(H2('request.vars'))
    response.write(BEAUTIFY(request.vars))    
    
    pass
}}