{{extend 'layout_admin.html'}}

{{


response.write(H3('Here is all information on the sale numbers.'))

response.write(TABLE(TR('assigned total: ',           len(assigned)),
                     TR('general free: ',             len(free)),
                        )
               )
               
response.write(TABLE(TR('These are the already assigned numbers: ',  str(assigned)),
                     TR('These are the free general numbers: ',      str(free)),
                     )
               )
response.write(TABLE(TR('This is the number limit: ',  str(limit)),
                     TR('Number of available numbers', str(available)),
                     TR('Numbers are available: ',      str(b_available)),
                     )
               )               
}}