{{extend 'layout.html'}}

<h3>Number map</h3>
<p>
Diese Seite gibt eine Übersicht zu den vergebenen und noch freien Kommissionsnummern.
</p>
{{=form}}
<br />

Für diesem Markt sind folgende <b>{{=n_assigned}}</b> Kommissionsnummern vergeben worden:

{{=table}}
<br />
{{
legend = TABLE(
    TR(TD('Diese Nummer ist noch frei.', _class = 'free')),
    TR(TD('Diese Nummer ist reserviert für einen Helfer.', _class = 'reserved')),
    TR(TD('Diese Nummer ist reserviert für ein Teammitglied.', _class = 'reserved_team')),
    TR(TD('Dieser Verkäufer ist neu (hat das erste Mal eine Nummer für diesen Markttyp).', _class = 'new')),
    TR(TD('Der Verkäufer hat seine alte Nummer wieder erhalten.', _class = 'old_number')),
    TR(TD('Der Verkäufer hat seine alte nicht Nummer wieder erhalten.', _class = 'not_old_number')),
    TR(TD('Der Verkäufer hat seine alte Nummer nicht wieder erhalten, hat aber am letzten Markt nicht teilgenommen.', _class = 'not_old_but_missed_previous')),
    TR(TD('Der Status konnte nicht ermittelt werden!', _class = 'unknown')),
    _class = 'number_status_map', _id = 'number_status_map_legend'
)
}}
{{=legend}}