{{response.b_responsive = True}}
{{extend 'frameset.html'}}

{{
cards = []
    for r in rows:
        amounts = [DIV('€ %d' % r.amount_requested,                    _class = 'req_amount_req'     )]
        if r.amount_spent:
            amounts.append(DIV('bez. € %d' % r.amount_spent,           _class = 'req_amount_spent'   ))
            pass

        card = DIV(DIV(
                        DIV(r.project),
                        DIV(*amounts, _class = 'req_amounts'),
                                                                       _class = 'card-divider'   ),

                   DIV(
                        DIV(r.organization),
                        DIV(r.date_of_receipt.split(' ')[0]),
                        _class = 'req_orga'),

                   DIV(r.description, _class = 'req_descr'),

                   DIV(A(SPAN('Details'),
                                  _href=URL('staff','crud',
                                  args =['request', 'view'],
                                  vars = dict(id = r.id))),
                       A(SPAN('Antrag bearbeiten'),
                                  _href=URL('staff','crud',
                                  args =['request', 'edit'],
                                  vars = dict(id = r.id))),
                                                                       _class = 'req_controls'),

                                                                       _class = 'card'               )
        cards.append(card)
        pass

    for i in range(5):
        cards.append(DIV(_class = 'card flex_last_row_filler'))
        pass
}}

{{=DIV(*cards, _class = 'requests-collection')}}
